:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --dark-cyan2: hsl(158, 25%, 26%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%)
}

body{
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', 'sans-serif';
    background-color: var(--cream);
    color: var(--dark-grayish-blue);
    font-weight:500;
    padding:0;
    margin:0;
}

main{
    height:100vh;
    width:100vw;
    display: grid;
    place-items: center;
}
article{
    width:30%;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    border-radius:0.8rem;
    background-color: var(--white);
}

img{
    border-radius:0.8rem 0 0 0.8rem;
    max-width:100%;
    /* display: block; */
    aspect-ratio: 1 / 1.53;
    object-fit: cover;
}

section.container{
    border:1px solid red;
    display: grid;
    grid-template-row: repeat(5, 1fr);
    gap: 1rem;
    padding: 1.5rem;
    /* max-width:50%; */
}
section p:first-of-type{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

p{
    margin:0;
    padding:0;
}

h1, strong{
    font-family:'Fraunces';
    font-weight:700;
    font-size: 2rem;
}

h1{
    color:var(--very-dark-blue); 
    padding:0;
    margin:0;

}

section p:nth-of-type(2){
    line-height:1.5rem;
}
section.price{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.5rem;
}

strong{
    color:var(--dark-cyan);
}

button{
    background-color: var(--dark-cyan);
    color: var(--white);
    padding:1rem 0;
    border-radius: 0.4rem;
    border:none;
    cursor:pointer;
    font-weight:700;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0.5rem;
}

button:hover{
    background-color:var(--dark-cyan2);
}

@media (max-width:456px){
    img{
        border-radius:0.8rem 0.8rem 0 0;
        aspect-ratio: 1 / .75;
    }
}